footer.footer
  .wrapper
    .footer__container
      .footer__brand-block
        img.footer__logo(src="images/logo.png" loading="lazy" width="402" height="426" alt="logo")
        .footer__brand.font-w-r-medium
          .font-s-20-a «KIKCHAK»
          .font-s-14-a Франшиза стильного кафе <br> уличной еды
      a.footer__privacy.font-w-i-regular.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
      button.btn.btn--call-me-footer(data-remodal-target="modal-form-call-me") Заказать звонок
