header.header
  .header__container
    .header__brand-block
      img.header__logo(src="images/logo.png" loading="lazy" width="402" height="426" alt="logo")
      .header__brand.font-w-r-medium
        .font-s-20-a «KIKCHAK»
        .font-s-14-a Франшиза стильного кафе <br> уличной еды
    button.btn.btn--call-me(data-remodal-target="modal-form-call-me") Заказать звонок
  .header__brand-mobile.font-w-r-medium.font-s-14-a Франшиза стильного кафе уличной еды
