section.steps-section
  .wrapper
    .steps-section__container
      h2.steps-section__title.font-w-bold.font-s-40.text-up Как мы будем открывать ваше кафе?
      .steps-section__sub-title.font-s-24 8 простых шагов до старта
      .swiper-bullet
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
            .steps-section__card-text.font-s-20-b
              .font-w-c-bold Первый шаг
              .font-w-c-regular Заключение партнерского договора
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
            .steps-section__card-text.font-s-20-b
              .font-w-c-bold Второй шаг
              .font-w-c-regular Создание и согласование дизайн-проекта
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
            .steps-section__card-text.font-s-20-b
              .font-w-c-bold Третий шаг
              .font-w-c-regular Аренда помещения и ремонт
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
            .steps-section__card-text.font-s-20-b
              .font-w-c-bold Четвертый шаг
              .font-w-c-regular Формирование первых запасов товара
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
            .steps-section__card-text.font-s-20-b
              .font-w-c-bold Пятый шаг
              .font-w-c-regular Доставка и монтаж оборудования и мебели
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
            .steps-section__card-text.font-s-20-b
              .font-w-c-bold Шестой шаг
              .font-w-c-regular Поиск и обучение персонала
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
            .steps-section__card-text.font-s-20-b
              .font-w-c-bold Седьмой шаг
              .font-w-c-regular Реклама
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
            .steps-section__card-text.font-s-20-b
              .font-w-c-bold Восьмой шаг
              .font-w-c-regular Открытие точки, старт работы
        .bullet-pagination
      .steps-section__bottom
        img.steps-section__bottom-img(src="images/steps-section-bottom-img.png" loading="lazy" width="289" height="176" alt="image")
        .steps-section__bottom-title.font-w-bold.font-s-32 Получите подробный план запуска бизнеса в 1 клик
        form.steps-section__form(data-feedback-form)
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") ПОЛУЧИТЬ
  img.steps-section__img-bg(src="images/logo-line-img.jpg" loading="lazy" width="1920" height="66" alt="image")
